<div class="container p-5">
<div class="row">
<div class="col-md-4 mx-auto">    
    <div class="side-right"><img class="logo" src="assets/images/logo.jpg" alt="">
        <h2>Introduce tu cuenta</h2>
        <form action="/login" method="POST">
            <div class="form-row"><label for="">Correo </label><input class="form-control form-control-sm" type="text" placeholder="nombre@email.com" name="correo"></div>
            <div class="form-row"><label for="">Contraseña</label><input class="form-control form-control-sm" type="password" placeholder="Password" name="password"></div>
            <div class="form-row row skjh">
                <div class="col-7 left no-padding"><input type="checkbox">Mantener sesión iniciada </div>
            </div>
            <div class="form-row dfr"><button class="btn btn-sm btn-success" type="submit" href="/index">Continuar</button></div>
            <div class="ord-v"><a href="/registro">o registrate </a></div>
        </form>
    </div>
    <div class="copyco"></div>
</div>
</div>
</div>
<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>