doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
  link(rel='stylesheet' href='styles.css')
.signupFrm
  form.form(action='')
    h1.title Sign up
    .inputContainer
      input.input(type='text' placeholder='a')
      label.label(for='') Email
    .inputContainer
      input.input(type='text' placeholder='a')
      label.label(for='') Username
    .inputContainer
      input.input(type='text' placeholder='a')
      label.label(for='') Password
    .inputContainer
      input.input(type='text' placeholder='a')
      label.label(for='') Confirm Password
    input.submitBtn(type='submit' value='Sign up')
