<div class="container">
<div class="row">
<div class="col-md-4 mx-auto">    
    <div class="side-right"><img class="logo" src="assetsReg/images/logo.jpg" alt="">
        <h2>Crea tu cuenta</h2>
        <form action="/registro" method="POST">
            <div class="form-row"><label for="">Nombres </label><input class="form-control form-control-sm" type="text" placeholder="nombres" name="nombre"></div>
            <div class="form-row"><label for="">Correo</label><input class="form-control form-control-sm" type="email" placeholder="Correo" name="correo"></div>
            <div class="form-row"><label for="">Contraseña</label><input class="form-control form-control-sm" type="password" placeholder="Contraaseña" name="password"></div>
            <div class="form-row"><label for="">Confirmar contraseña</label><input class="form-control form-control-sm" type="password" placeholder="Confirmar contraseña" name="confirmar"></div>

            <div class="form-row dfr"><button class="btn btn-sm btn-success" type="submit" href="/login">Continuar</button></div>
            <div class="ord-v"><a href="/login">¿Ya tienes una cuenta? </a></div>
        </form>
    </div>
    <div class="copyco"></div>
</div>
</div>
</div>
<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>